body{
    background-image: url('background.jpg');
    background-size: cover;
}

*{
    font-family: 'Roboto', sans-serif;
}
h1{
  
    background-color:#4a4a4a ;
    height: 50px;
    text-align: center;
    color: white;
    padding: 40px;
    font-size: 40px;
}

main{
    width: 100%;
    display: inline-block;
}

.formD{
    float: left;
width: 30%;
background-color: #a3a3a3;
text-align: center;
font-size: 30px;
border-radius: 10px;
height: 400px;
margin-left: 100px;
padding: 20px;
}
/* #myForm{
float: left;
width: 30%;
background-color: #a3a3a3;
text-align: center;
font-size: 30px;
border-radius: 10px;
height: 400px;
margin-left: 100px;
} */
.submit{
    background-color: black;
    color:#a3a3a3 ;
    width: 150px;
    border-radius: 3px;
    text-align: center;
}
.tableD{
    background-color:#a3a3a3 ;
    width: 40%;
    border-radius: 10px;
    float: left;
}
#table{
    float: left;
    
    background-color: white;
   padding: 20px;
   text-align: center;
font-size: 20px;
margin-left: 100px;
border-radius: 10px;
}
#table tr td{
    border: gray 1px solid;

}